/*Overrride font urls*/
@font-face{
  font-family: VideoJS;
  src:url('/packages/jrudio_youtubejs/youtubejs/fonts/vjs.eot');
  src:url('/packages/jrudio_youtubejs/youtubejs/fonts/vjs.eot?#iefix') format('embedded_opentype'),
  url('/packages/jrudio_youtubejs/youtubejs/fonts/vjs.woff') format('woff'),
  url('/packages/jrudio_youtubejs/youtubejs/fonts/vjs.ttf') format('truetype'),
  url('/packages/jrudio_youtubejs/youtubejs/fonts/vjs.svg#icomoon') format('svg');
}